{% for section in blurb %}
    <div class="employment">
        <div class="role-header">
            <div class="role-details">
                <span class="role-title">{{ section.role }}</span>
                <span class="role-period">{{ section.period }}</span>
            </div>
            <div class="org-details">
                <span class="org-name">{{ section.organization }}</span>
                <span class="org-location">{{ section.location }}</span>
            </div>
        </div>
        <div class="project-items">
            {% for project in section.projects %}
                <div class="project">
                    <span class="project-name">{{ project[0] }}</span>
                    {% assign bullets = project[1] %}
                    <ul class="bullets">
                        {% for bullet in bullets %}
                            <li>{{ bullet }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}